.luacheckrc
*.pyc
manifest.dat
manifest.key
publisher.key
__pycache__
/secret.jx3dat
/secret.yaml
/secret.yaml-cache.jx3dat
/squishy
/*/src.lua
/*/src.*.lua
/*/dist/
/\!src-dist/dist/
/\!src-dist/tools/targetmon-format/*.jx3dat
