
*.pyc
*/manifest.dat
*/manifest.key
*/publisher.key
@DATA/cache/PLAYER_INFO/*.jx3dat
@DATA/cache/NPC_DOODAD_REC/*.jx3dat
@DATA/cache/FIGHT_RECOUNT_LOG/*.jx3dat
@DATA/cache/CHAT_LOG/*.jx3dat
@DATA/config/*.jx3dat
@DATA/config/MY_CHATMONITOR/*.jx3dat
@DATA/config/MY_SCREENSHOT/*.jx3dat
@DATA/config/PLAYER_NOTES/*.jx3dat
@DATA/config/MY_INFO_TIP/*.jx3dat
@DATA/config/MY_RECOUNT/*.jx3dat
@DATA/config/AUTO_CHAT/*.jx3dat
@DATA/config/MY_CHAT/*.jx3dat
@DATA/userdata/XLifeBar/*.jx3dat
.Framework/data/bosslist.jx3dat
\!src-dist/releases/
@DATA/cache/CHAT_LOG/*/*/*.jx3dat
@DATA/userdata/CHAT_LOG/*/*/*.jx3dat